/* *{
     text-align: center;
    
}
.dark{
     background: black;
     color: white;
}
#mode{
     width: 10%;
     margin-left: 80%;
} */

*{
     background-color: black;
     color: white;
}
h1{
     background-color: red;
}
button{
     background-color: gray;
     text-align: center;
     align-items: center;
}
.box{
     background-color: rgb(164, 164, 30);
     border: 1px solid red;
     width: 60px;
     height: 60px;
     color: black;
     text-align: center;
     align-content: center;
     margin-bottom: 7px;
}