/* *{
     text-align: center;
    
}
.dark{
     background: black;
     color: white;
}
#mode{
     width: 10%;
     margin-left: 80%;
} */

*{
     background-color: black;
     color: white;
}
h1{
     background-color: red;
}
button{
     background-color: gray;
     text-align: center;
     align-items: center;
}