/* #paragraphone{
     color: rgb(0, 255, 72);
     height: 200px;
     background-color: red;
     width: 200px;
     font-size: 70px;
}
.content{
     background-color: aqua;
}
.newClass{
     background-color: greenyellow;
} */