/* #para{
     background-color: red;
}
*body{
     background-color: red;
}
div{
     height: 100px;
     width: 100px;
     border: 1px solid red;
     background-color: rgb(166, 233, 166);
} */

div{
     color:white;
     height: 100px;
     width: 100px;
     background-color: red;
}