/* #para{
     background-color: red;
}
*body{
     background-color: red;
}
div{
     height: 100px;
     width: 100px;
     border: 1px solid red;
     background-color: rgb(166, 233, 166);
} */

div{
     color:white;
     height: 100px;
     width: 100px;
     background-color: red;
}
#mode{
     background-color: rgb(25, 161, 161);
     border-radius: 10%;
     border: 1px solid rgb(0, 0, 0);
     margin: 20px;
     align-items: center;
     align-content: center;
}