*{
     margin: 0;
     padding: 0;
     text-align: center;
       background-color:#6581a1 ;
}
h1{
     background-color:#081b31 ;
     color: white;
     height: 5rem;
     text-align: center;
     line-height: 5rem;
}
.choice{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #081b31;
     cursor: pointer;
}
img{
     height: 150 px;
     width: 150px;
     object-fit: cover;
     border-radius: 50%;
}
.choices{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     margin-top: 5rem;
}
.choice:hover{
     opacity: 70%;
     cursor: pointer;
     background-color: #081b31;
}
.score-board{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     gap: 3rem;
}

#computer-score{
     font-size: 2rem;
}
#user-score{
     font-size: 2rem;
}
.msg-container{
     margin-top:5rem ;
}
#msg{
     background-color: #081b31;
     color: white;
     height: 2rem;
     margin-top:2rem ;
     line-height: 2rem;
     display: inline;
     padding: 1rem;
     border-radius: 1rem;
}